[submodule "Dependencies/wxWidgets"]
	path = Dependencies/wxWidgets
	url = https://github.com/wxWidgets/wxWidgets.git
[submodule "Dependencies/ThreadBuildingBlocks"]
	path = Dependencies/tbb
	url = https://github.com/HeliumProject/ThreadBuildingBlocks.git
[submodule "Dependencies/nedmalloc"]
	path = Dependencies/nedmalloc
	url = https://github.com/ned14/nedmalloc.git
[submodule "Dependencies/boost-preprocessor"]
	path = Dependencies/boost-preprocessor
	url = https://github.com/boost-lib/preprocessor.git
