*.suo
*.sdf
*.vc.db
*.opendb
*.opensdf
*.ncb
*.user
*.tags
*.session
*.sublime-workspace
*.make
Makefile
*.sln
*.vcproj
*.vcproj.*
*.vcxproj
*.vcxproj.*
ipch
.vs/
Debug
Intermediate
Profile
Release
Build
Bin

Logs
Doc
DataPC

.DS_Store
thumbs.db
*~
