*.suo
*.ncb
*.user
*.tags
*.session
*.db
*.BASE.*
*.LOCAL.*
*.REMOTE.*
Bin/*
Logs/*
Dependencies/LiteSQL/0.3.8/build/*
Dependencies/wxWidgets/build/msw/vc_*
Dependencies/wxWidgets/lib/vc_*
Intermediate/*
Premake/*
