*.suo
*.ncb
*.user
*.tags
*.session
*.db
*.BASE.*
*.LOCAL.*
*.REMOTE.*
.DS_Store
Bin/*
Logs/*
DataPC/
Doc/html/
*/*Interface.cpp
*/*Interface.h
*/*Interface.inl
*/*TypeRegistration.cpp
!Framework/ObjectTypeRegistration.cpp
Dependencies/LiteSQL/0.3.8/build/*
Dependencies/tbb/build/windows_*
Dependencies/tbb/build/macos_*
Dependencies/wxWidgets/build/msw/vc_*
Dependencies/wxWidgets/lib/vc_*
Dependencies/wxWidgets/macbuild*
Intermediate/*
Premake/*
