<cruisecontrol xmlns:cb="urn:ccnet.config.builder">

    <project name="Helium">

        <webURL>http://dubious/server/local/project/Helium/ViewProjectReport.aspx</webURL>

        <workingDirectory>C:\CCNet\Helium</workingDirectory>
        
        <sourcecontrol type="git">
            <executable>C:\Program Files (x86)\Git\bin\git.exe</executable>
            <repository>git://github.com/HeliumProject/Helium.git</repository>
            <autoGetSource>true</autoGetSource>
            <branch>master</branch>
            <timeout units="minutes">240</timeout>
        </sourcecontrol>

        <tasks>

			<exec>
				<executable>cmd.exe</executable>
				<buildArgs>/c ccnet.premake.bat</buildArgs>
			</exec>

            <devenv>
                <executable>C:\Program Files (x86)\Microsoft Visual Studio 10.0\Common7\IDE\devenv.com</executable>
                <solutionfile>Premake\Dependencies.sln</solutionfile>
                <configuration>Debug|Win32</configuration>
                <buildtype>Build</buildtype>
                <buildTimeoutSeconds>12000</buildTimeoutSeconds>
                <version>VS2008</version>
                <priority>BelowNormal</priority>
            </devenv>
            <devenv>
                <executable>C:\Program Files (x86)\Microsoft Visual Studio 10.0\Common7\IDE\devenv.com</executable>
                <solutionfile>Premake\Dependencies.sln</solutionfile>
                <configuration>Debug|x64</configuration>
                <buildtype>Build</buildtype>
                <buildTimeoutSeconds>12000</buildTimeoutSeconds>
                <version>VS2008</version>
                <priority>BelowNormal</priority>
            </devenv>

            <devenv>
                <executable>C:\Program Files (x86)\Microsoft Visual Studio 10.0\Common7\IDE\devenv.com</executable>
                <solutionfile>Premake\Dependencies.sln</solutionfile>
                <configuration>Release|Win32</configuration>
                <buildtype>Build</buildtype>
                <buildTimeoutSeconds>12000</buildTimeoutSeconds>
                <version>VS2008</version>
                <priority>BelowNormal</priority>
            </devenv>
            <devenv>
                <executable>C:\Program Files (x86)\Microsoft Visual Studio 10.0\Common7\IDE\devenv.com</executable>
                <solutionfile>Premake\Dependencies.sln</solutionfile>
                <configuration>Release|x64</configuration>
                <buildtype>Build</buildtype>
                <buildTimeoutSeconds>12000</buildTimeoutSeconds>
                <version>VS2008</version>
                <priority>BelowNormal</priority>
            </devenv>

            <devenv>
                <executable>C:\Program Files (x86)\Microsoft Visual Studio 10.0\Common7\IDE\devenv.com</executable>
                <solutionfile>Premake\Tools.sln</solutionfile>
                <configuration>Debug|Win32</configuration>
                <buildtype>Build</buildtype>
                <buildTimeoutSeconds>12000</buildTimeoutSeconds>
                <version>VS2008</version>
                <priority>BelowNormal</priority>
            </devenv>
            <devenv>
                <executable>C:\Program Files (x86)\Microsoft Visual Studio 10.0\Common7\IDE\devenv.com</executable>
                <solutionfile>Premake\Tools.sln</solutionfile>
                <configuration>Debug|x64</configuration>
                <buildtype>Build</buildtype>
                <buildTimeoutSeconds>12000</buildTimeoutSeconds>
                <version>VS2008</version>
                <priority>BelowNormal</priority>
            </devenv>

            <devenv>
                <executable>C:\Program Files (x86)\Microsoft Visual Studio 10.0\Common7\IDE\devenv.com</executable>
                <solutionfile>Premake\Tools.sln</solutionfile>
                <configuration>Release|Win32</configuration>
                <buildtype>Build</buildtype>
                <buildTimeoutSeconds>12000</buildTimeoutSeconds>
                <version>VS2008</version>
                <priority>BelowNormal</priority>
            </devenv>
            <devenv>
                <executable>C:\Program Files (x86)\Microsoft Visual Studio 10.0\Common7\IDE\devenv.com</executable>
                <solutionfile>Premake\Tools.sln</solutionfile>
                <configuration>Release|x64</configuration>
                <buildtype>Build</buildtype>
                <buildTimeoutSeconds>12000</buildTimeoutSeconds>
                <version>VS2008</version>
                <priority>BelowNormal</priority>
            </devenv>

        </tasks>

        <triggers>
            <intervalTrigger name="continuous" seconds="30" buildCondition="IfModificationExists" initialSeconds="30" />
        </triggers>

        <publishers>
            <xmllogger/>
            <rss/>
        </publishers>

    </project>

</cruisecontrol>